@charset "UTF-8";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling for navigation bar for all sites*/

ul {
    margin: 0;
    padding: 2vh 1vw;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    height: 8vh;
}

li a {
    color: #EA5634;
    display: block;
    text-align: center;
    padding: 2vh 0.5vw;
    margin-left: 8vw;
    text-decoration: none;
    font-size: 1.7vw;
    background-color: #1A1A1A;
    width: 9vw;
    border-radius: 30px;
}

.currentsite {
    color: #13849E;
}

#logo {
    width: 4vw;
    height: 8vh;
}

/* Styling for Facebook and Instagram and Arrow icons */

i {
    color: #EA5634;
}

/* Styling for top part of the main part of the landing page */

h1 {
    margin: 0;
}

p {
    margin-top: 2vh;
    font-weight: bold;
}

main, #index-main {
    background: url(images/landing.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main, #program-main {
    background: url(images/audience.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main, #info-main {
    background: url(images/infobackground.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#topmain {
    color: white;
    width: 100%;
    font-size: 3vw;
    text-align: center;
    margin-top: 18vh;
}

#icondown {
    margin-top: 5vh;
}

/* Styling for buttons */

button {
    width: 12vw;
    padding: 2vh;
    font-size: 2vw;
    border: 2px solid #B73D3D;
    background-color: black;
    color: #B73D3D;
}

a {
    text-decoration: none;
    color: #B73D3D;
}

/* Styling for about us section on the landing page */

#aboutus {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10vh;
    font-size: 2vw;
}

/*Styling for Gallery and Subscribe section on the landing page */

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10vh;
    font-size: 3vw;
    color: #B73D3D;
}

.infobox {
    width: 25vw;
    height: 55vh;
    padding: 2vh;
    border: 2px solid #B73D3D;
    background-color: black;
}

h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2vw;
    color: #B73D3D;
}

article {
    color: white;
    margin-top: 2vh;
    line-height: 1.5;
}

.leftsection {
    grid-area: leftsect;
    margin-left: 10vw;
}

.rightsection {
    grid-area: rightsect;
    margin-left: 15vw;
}

.container {
    display: grid;
    grid-template-areas: 
    'leftsect rightsect';
    margin-top: 10vh;
}

.subbtn {
    position: relative;
    bottom: 45vh;
    left: 43.8vw;
}

.infobtn {
    position: relative;
    bottom: 25vh;
    left: 31.5vw;
}

.partnersimg {
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 10vh;
}

/* Styling for the footer for all sites */

footer {
    background-color: black;
    color: #B73D3D;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

footer > p {
    display: inline-block;
    padding-left: 11vw;
}

footer > .footericons {
    display: inline-block;
    padding-left: 11vw;
}

.footericons > i {
    padding-left: 2.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}